
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@1,200&display=swap');

:root{
	--cor-fundo:#2C3639;
	--cor-fonte:#DCD7C9;
	--cor-detalhe:#A27B5C;
	--cor-hover:#3F4E4F;
	--fonte-titulo:'Krona One';
	--fonte-texto:'Montserrat';
	--size01:2.25rem;
	--size02:1.5rem;
	--size03:1.125rem;
}

*{
	margin: 0;
	padding: 0;
	padding-block: 0;
	padding-inline: 0;
	border: 0;
}


body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	background-color: var(--cor-fundo);
	color: var(--cor-fonte);	
	box-sizing: border-box;
}

.cabecalho{
	width: 100vw;
	height: 80px;
	background-color: var(--cor-fundo);
}

.cabecalho-caixabotoes{
	height: 100%;
	width: 450px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.cabecalho-caixabotoes-botao{
	background-color: var(--cor-fundo);
	width: 150px;
	font-size: 18px;
	font-family: var(--fonte-titulo);, sans-serif;
	color: var(--cor-detalhe);
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	text-decoration: none;
}

.cabecalho-caixabotoes-botao:hover{
	background-color: var(--cor-hover);
	cursor:pointer;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3%;
	padding-bottom: 5%;
}

.textos{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: var(--size02);
	width: 90%;
}

.textos-titulo{
	font-size: var(--size01);
	font-family: var(--fonte-titulo);, sans-serif;
	text-align: center;
}

.textos-titulo-destaque{
	color: var(--cor-detalhe);
}


.textos-descricao{
	font-size: var(--size02);
	font-family: var(--fonte-texto);, sans-serif;
	text-align: center;
}

.textos-descricao-nome{
	color: var(--cor-detalhe);
}

.textos-caixabotoes{
	display: flex;
	flex-direction: column;
	gap: var(--size02);
	align-items: center;
	font-size: var(--size02);
	font-family: var(--fonte-texto);, sans-serif;
	font-weight: 600;
	margin-top: 3%;
	margin-bottom: 5%;
}

.textos-caixabotoes-titulodosbotoes{
	font-size: var(--size02);
	font-family: var(--fonte-texto);, sans-serif;
}

.textos-caixabotoes-botao{
	background-color: var(--cor-fundo);
	color: var(--cor-detalhe);
	border: 2px solid var(--cor-detalhe);
	width: 25%;
	padding-top: var(--size03);
	padding-bottom: var(--size03);
	text-align: center;
	border-radius: 16px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--size03);
	
}
.textos-caixabotoes-botao:hover{
	background-color: var(--cor-hover);
	cursor:pointer;
}

footer{
	width: 100vw;
	background-color: var(--cor-detalhe);
	color: var(--cor-fundo);
}

.rodape-texto{
	font-size: var(--size03);
	font-family: var(--fonte-texto);, sans-serif;
	text-align: center;
	padding: var(--size03);
}


@media(max-width: 1200px){
	.textos-caixabotoes-botao{
		width: 30%;
	}
} 

@media(max-width: 700px){
	.textos-caixabotoes-botao{
		width: 50%;
	}
}

@media(max-width: 450px){
	.cabecalho{
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 10vh;
	}
	.cabecalho-caixabotoes{
		width: 300px;
	}
	.cabecalho-caixabotoes-botao{
		font-size: 0.8rem;
		width: 100px;
	}
	.textos-titulo{
		text-align: center;
		font-size: var(--size02);
	}
	.container{
		height: 85vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding-top: 5%;
	}
	.textos-descricao{
		text-align: center;
		font-size: var(--size03);
	}
	.textos-caixabotoes{
		font-size: var(--size03);
		margin: 2%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.textos-caixabotoes-botao{
		padding-top: 1%;
		padding-bottom: 1%;
		text-align: center;
		border-radius: 8px;
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	.textos-caixabotoes-titulodosbotoes{
		font-size: var(--size03);
	}
	footer{
		height: 5vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}




























